<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS_PQsL_TuSIAtOUlspMXu-cDk2sbp5pY</string>
	<key>GCM_SENDER_ID</key>
	<string>1006126369261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.calypso</string>
	<key>PROJECT_ID</key>
	<string>calypso-4f4eb</string>
	<key>STORAGE_BUCKET</key>
	<string>calypso-4f4eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006126369261:ios:e84921b7570aed4583ffe4</string>
</dict>
</plist>