<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVrnmi_moLEPdci7eCT-r0hYll0CaMgxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1067290413907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.calypso</string>
	<key>PROJECT_ID</key>
	<string>calypsoapp-db01e</string>
	<key>STORAGE_BUCKET</key>
	<string>calypsoapp-db01e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067290413907:ios:23facbdefcf1f1f92f6fa6</string>
</dict>
</plist>